<img width="1470" height="778" alt="Image" src="https://github.com/user-attachments/assets/26e37b44-35ab-4deb-b711-163a887f8bcb" />
<img width="1467" height="774" alt="Image" src="https://github.com/user-attachments/assets/5797c053-9a86-40d1-9412-b628d73dbedf" />

<img width="1468" height="613" alt="Image" src="https://github.com/user-attachments/assets/c0f23be6-5fd2-409e-8e3a-797f12316268" />
<img width="1470" height="393" alt="Image" src="https://github.com/user-attachments/assets/12a55084-b6f9-4d20-8ba2-716946d7e1fc" />
<img width="1470" height="502" alt="Image" src="https://github.com/user-attachments/assets/b0701911-8f9d-44e0-9c0e-9a7ab3d7fad6" />
img width="1470" height="956" alt="Image" src="https://github.com/user-attachments/assets/4198cfe7-13d8-4b62-a8da-f034adc4c9e5" />
<img width="1459" height="817" alt="Image" src="https://github.com/user-attachments/assets/e41c4706-4fa5-4abe-bc91-9351fe23ec3a" />
<img width="1470" height="835" alt="Image" src="https://github.com/user-attachments/assets/91ba1f56-1f31-49d1-b097-06ff3278b69e" />
<img width="1470" height="836" alt="Image" src="https://github.com/user-attachments/assets/aacb4ed5-9ab0-470b-93c6-bf4162eb0800" />
<img width="1470" height="833" alt="Image" src="https://github.com/user-attachments/assets/e2442513-8a4f-4240-a6b0-801bd3604d7a" />
<img width="1364" height="243" alt="Image" src="https://github.com/user-attachments/assets/66af684c-d3b7-41cc-b51a-8748c99b144b" />
<img width="1470" height="404" alt="Image" src="https://github.com/user-attachments/assets/1c89b335-96df-430c-ab4b-90568107f135" />
